@font-face { font-family: Adobe-Garamond-Pro; src: url("/static/fonts/adobe-garamond-pro/Adobe-Garamond-Pro_2012.ttf"); }
@font-face { font-family: Adobe-Garamond-Pro-Italic; src: url("/static/fonts/adobe-garamond-pro/Adobe-Garamond-Pro-Italic_2009.ttf"); }
@font-face { font-family: Bebas-Neue; src: url("/static/fonts/bebas_neue/BebasNeueRegular.otf"); }
@font-face { font-family: Bebas-Neue-Thin; src: url("/static/fonts/bebas_neue/BebasNeueThin.otf"); }
@font-face { font-family: Bebas-Neue-Light; src: url("/static/fonts/bebas_neue/BebasNeueLight.otf"); }
@font-face { font-family: Bebas-Neue-Book; src: url("/static/fonts/bebas_neue/BebasNeueBook.otf"); }
@font-face { font-family: Bebas-Neue-Bold; src: url("/static/fonts/bebas_neue/BebasNeueBold.otf"); }
@font-face { font-family: Bitter; src: url("/static/fonts/bitter/Bitter-Regular.otf"); }
@font-face { font-family: Proxima-Nova-Thin; src: url("/static/fonts/proxima_nova/proxima-nova-thin.otf"); }
@font-face { font-family: Proxima-Nova; src: url("/static/fonts/proxima_nova/ProximaNova-Reg.otf"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\0000369}}
body { background-color: #fafafa; color: #f0f0f0; margin: 0; font-family: Proxima-Nova, Sans-Serif; font-size: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\0000377}}
ul { padding: 0; margin: 0; display: inline-block; list-style-type: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\0000384}}
[href] { cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\0000388}}
figure { margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\0000392}}
a { color: black; text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\0000397}}
a:hover { color: #777777; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003101}}
p { -webkit-margin-before: 0; -webkit-margin-after: 1.2em; line-height: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003108}}
.nav, .nav-backdrop { font-family: Bebas-Neue-Book; position: absolute; top: 0; width: 100%; height: 80px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003117}}
.nav { z-index: 20; color: white; min-width: 570px; background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4)); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4)); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4)); /* For Firefox 3.6 to 15 */ background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4)); /* Standard syntax */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003126}}
.nav .title { margin: 0 16px 0 20px; float: left; font-family: Bebas-Neue-Bold; font-size: 48px; padding: 21px 0; color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003134}}
.nav .title a { color: inherit; text-decoration: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003141}}
.nav .links { margin: 0 16px 0 16px; float: right; padding: 18px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003147}}
.nav .links ul { position: relative; float: right; margin: 0 auto; overflow-x: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003153}}
.nav .links ul li { display: inline-block; width: 90px; text-align: center; padding: 10px 0 6px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003159}}
.nav .links ul li a { font-size: 25px; text-decoration: inherit; color: inherit; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003165}}
.nav .links ul li a:hover { color: #000000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003171}}
.nav .links ul li.selected a:hover { color: inherit; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003176}}
.nav .links ul li.selected { width: 86px; background-color: rgba(0, 0, 0, 0.5); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003183}}
.top-section-image, .top-section-content { position: absolute; top: 0; width: 100%; overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003190}}
.top-section-image { z-index: 0; margin-top: -100px; height: 500px; background-size: cover; background-repeat: no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003198}}
.top-section-content { z-index: 1; padding-top: 80px; height: 320px; text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003204}}
.top-section-content .header { color: #1E90FF; margin: 68px 0; font-family: Bebas-Neue-Light; font-size: 80px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003210}}
.top-section-content .header span { border-bottom: 2px solid #1E90FF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003215}}
.top-section-content .subtitle { font-family: Proxima-Nova-Thin; font-size: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003222}}
.main-container { margin-top: 400px; background-color: #fafafa; min-height: 340px; color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003228}}
.main-container .content { max-width: 68em; margin-left: auto; margin-right: auto; padding: 34px; text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003236}}
.main-container .section-title { padding-bottom: 20px; font-size: 40px; font-family: Adobe-Garamond-Pro; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003242}}
.main-container .content-container-black { background: -webkit-linear-gradient(#353439, #333237); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(#353439, #333237); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(#353439, #333237); /* For Firefox 3.6 to 15 */ background: linear-gradient(#353439, #333237); /* Standard syntax */ color: #e0e0e0; width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003250}}
.main-container .content-container-black a { color: inherit; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003253}}
.main-container .content-container-black a:hover { color: #ffffff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003260}}
.footer { background-color: #e0e0e0; background: -webkit-linear-gradient(#e0e0e0, #e9e9e9); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(#e0e0e0, #e9e9e9); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(#e0e0e0, #e9e9e9); /* For Firefox 3.6 to 15 */ background: linear-gradient(#e0e0e0, #e9e9e9); /* Standard syntax */ text-align: center; padding: 34px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003269}}
.footer .links { font-family: Bebas-Neue-Book; margin-bottom: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003273}}
.footer .links ul li { font-size: 25px; display: inline-block; width: 90px; text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003279}}
.footer .links ul li a { text-decoration: inherit; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003286}}
.footer .copyright { font-size: 12px; color: #5c5c5c; margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003294}}
.footer .social-container ul li { font-size: 25px; display: inline-block; width: 40px; height: 20px; text-align: center; border-radius: 7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003302}}
.footer .social-container ul li img { width: 20px; height: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003307}}
.footer .social-container ul li img:hover { opacity: .5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003317}}
.content .medium-embed-container { display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003324}}
.content .soundcloud-embed-container { display: inline-block; width: 100%; max-width: 800px; padding-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003333}}
.about { max-width: 1000px; display: inline-block; text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003338}}
.about .head-shot-container { width: 30%; display: inline-block; float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003343}}
.about .head-shot-container .headshot { width: 200px; height: 200px; position: relative; overflow: hidden; border-radius: 50%; border: 10px solid #ededed; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003351}}
.about .head-shot-container .headshot img { display: inline; margin: 0 auto; height: 100%; width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003360}}
.about .info { font-family: Adobe-Garamond-Pro; display: inline-block; padding-top: 10px; float: left; width: 70%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003369}}
.contact { text-align: left; display: inline-block; font-family: Proxima-Nova-Thin; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003374}}
.contact .name { font-family: Proxima-Nova; font-size: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003381}}
.resume { text-align: left; display: inline-block; min-width: 700px; max-width: 1100px; font-family: Adobe-Garamond-Pro; vertical-align: text-top; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003389}}
.resume .row { width: 100%; min-height: 40px; margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003395}}
.resume .section { display: inline-block; font-family: Bebas-Neue-Bold; width: 175px; font-size: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003402}}
.resume .item { display: inline-block; width: 490px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003406}}
.resume .item .title { color: #df4244; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003409}}
.resume .item .subtitle { font-family: Adobe-Garamond-Pro-Italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003413}}
.resume .item p { padding-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003417}}
.resume .item .technology { display: inline-block; text-align: right; width: 160px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003423}}
.resume .item .rating-container .rating { width: 15px; height: 15px; border-radius: 50%; display: inline-block; margin-left: 4px; margin-bottom: -3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003432}}
.resume .item .rating-container .rating-1 { background-color: #F7DE00; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003436}}
.resume .item .rating-container .rating-2 { background-color: #F7DE00; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003440}}
.resume .item .rating-container .rating-3 { background-color: #008f00; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003444}}
.resume .item .rating-container .rating-4 { background-color: #008f00; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003448}}
.resume .item .rating-container .rating-5 { background-color: #1E90FF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003454}}
.resume .where-when { display: inline-block; width: 175px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexwyler\/alexwyler\.com\/static\/css\/main\.scss}line{font-family:\00003460}}
.download-resume { font-size: 40px; }

/*# sourceMappingURL=main.css.map */
