// Variables
$bg_gray: #050505;
$bg_white: #fafafa;
$fg_white: #f0f0f0;
$nav_gray: #e0e0e0;
$brand_blue: #1E90FF;
$brand_green: #008f00;
$brand_yellow: #F7DE00;
$brand_red: #df4244;
$margin: 16px;
$big_margin: 20px;
$top-section-image-offset: 100px;


// The font has extra space at the bottom
$title-font-space-bottom: 20px;
$nav-button-font-space-bottom: 4px;

$nav-size: 90px;
$nav-size-mobile: $nav-size * 2;

$nav-button-square-size: $nav-size * .6;

$top-section-size: 400px;
$top-section-size-mobile: 520px;

$big_padding: 2.2em;
$small_padding: 1.1em;


// fonts
@font-face {
	font-family: Adobe-Garamond-Pro;
	src: url('/static/fonts/adobe-garamond-pro/Adobe-Garamond-Pro.woff');
}

@font-face {
	font-family: Adobe-Garamond-Pro-Italic;
	src: url('/static/fonts/adobe-garamond-pro/Adobe-Garamond-Pro-Italic.woff');
}

@font-face {
    font-family: Bebas-Neue;
    src: url('/static/fonts/bebas_neue/BebasNeueRegular.otf');
}

@font-face {
    font-family: Bebas-Neue-Thin;
    src: url('/static/fonts/bebas_neue/bebas-neue-thin.woff');
}

@font-face {
    font-family: Bebas-Neue-Light;
    src: url('/static/fonts/bebas_neue/bebas-neue-light.woff');
}

@font-face {
    font-family: Bebas-Neue-Book;
    src: url('/static/fonts/bebas_neue/bebas-neue-book.woff');
}    

@font-face {
    font-family: Bebas-Neue-Bold;
    src: url('/static/fonts/bebas_neue/BebasNeueBold.otf');
}

@font-face {
	font-family: Bitter;
	src: url('/static/fonts/bitter/Bitter-Regular.otf');
}

@font-face {
    font-family: Proxima-Nova-Thin;
    src: url('/static/fonts/proxima_nova/proxima-nova-thin.woff');
}

@font-face {
    font-family: Proxima-Nova;
    src: url('/static/fonts/proxima_nova/proxima-nova-regular.woff');
}


// global
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

body {
	background-color: $bg_white;
	color: $fg_white;
	margin: 0;
	font-family: Proxima-Nova, Sans-Serif;
	font-size: 1.5em;
	line-height: inherit;
}

ul {
	padding: 0;
	margin: 0;
    display: inline-block;
    list-style-type: none;

    li {
    	margin: 0;
    }
}

[href] {
	cursor: pointer;
}

figure {
	margin: 0;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: #777777;
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 1.2em;
    line-height: 1.5em;
}

// Nav bar
.nav, .nav-backdrop {
	font-family: Bebas-Neue-Book;
	position: absolute;
	top: 0;
	width: 100%;
}

.nav {
	z-index: 20;
	color: white;

	.title {
		float: left;
		font-family: Bebas-Neue-Bold;
		font-size: 3.2em;
		color: black;
		text-decoration: inherit;
		height: ($nav-size - $title-font-space-bottom / 2);
		line-height: ($nav-size - $title-font-space-bottom / 2);
		margin: ($title-font-space-bottom / 2) 0 0 0;
	}

	.links {
		margin: ($nav-size - $nav-button-square-size) / 2 0;
		height: $nav-button-square-size;
		ul {
			li {
				a {
					display: inline-block;
					height: $nav-button-square-size - $nav-button-font-space-bottom / 2;
					line-height: $nav-button-square-size - $nav-button-font-space-bottom / 2;
					margin: ($nav-button-font-space-bottom / 2) 0 0 0;
				}
			}
		}
	}

	.nav-separator-container {
		position: absolute;
		top: ($nav-size-mobile / 2) - 1;
		height: 1px;
		width: 100%;
		.nav-separator {
			background-color: black;
			width: 120px;
			height: 100%;
			margin: 0 auto;
		}

		@media screen and (min-width: 0px) {
			display: block;
		}
		@media screen and (min-width: 1000px) {
			display: none;
		}
	}

	@media screen and (min-width: 0px) {
	  	background: -webkit-linear-gradient(left, rgba(255, 255, 255, .7), rgba(255, 255, 255, 0.4)); /* For Safari 5.1 to 6.0 */
	  	background: -o-linear-gradient(right, rgba(255, 255, 255, .7), rgba(255, 255, 255, 0.4)); /* For Opera 11.1 to 12.0 */
	  	background: -moz-linear-gradient(right, rgba(255, 255, 255, .7), rgba(255, 255, 255, 0.4)); /* For Firefox 3.6 to 15 */
	  	background: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, 0.4)); /* Standard syntax */
	}

	@media screen and (min-width: 800px) {
	  	background: -webkit-linear-gradient(left, rgba(255, 255, 255, .9), rgba(255, 255, 255, 0.4)); /* For Safari 5.1 to 6.0 */
	  	background: -o-linear-gradient(right, rgba(255, 255, 255, .9), rgba(255, 255, 255, 0.4)); /* For Opera 11.1 to 12.0 */
	  	background: -moz-linear-gradient(right, rgba(255, 255, 255, .9), rgba(255, 255, 255, 0.4)); /* For Firefox 3.6 to 15 */
	  	background: linear-gradient(to right, rgba(255, 255, 255, .9), rgba(255, 255, 255, 0.4)); /* Standard syntax */
	}
}

.nav .links ul {
	position: relative;
    float: right;
    margin: 0 auto;
    overflow-x: auto;

    li {
    	display: inline-block;
    	width: 90px;
    	text-align: center;

    	a {
	    	font-size: 1.65em;
	    	text-decoration: inherit;
	    	color: inherit;
    	}

    	a:hover {
	    	color: #000000;
    	}
    }

    li.selected {
    	a:hover {
			color: inherit;
		}
    }

    li.selected {
    	width: 86px;
		background-color:rgba(0, 0, 0, .5);
    }
}

@media screen and (min-width: 0px) {
	.nav, .nav-backdrop {
		height: $nav-size-mobile;
		text-align: center;

		.links {
			text-align: center;
			float: inherit;
			display: inline-block;
			width: 100%;
			padding: 0;

			ul {
				float: inherit;
			}
		}

		.title {
			display: inline-block;
			width: 100%;
			display: inline-block;
			padding: 0;
		}
	}
}

@media screen and (min-width: 1000px) {
	.nav, .nav-backdrop {
		text-align: inherit;
		height: $nav-size;

		.title {
			width: auto;
			float: left;
			padding: 0 0 0 20px;
		}

		.links {
			float: right;
			padding: 0;
			width: auto;
			padding: 0 20px 0 0;
		}
	}
}

// top section
.top-section-image, .top-section-content {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.top-section-image {
	z-index: 0;
	margin-top: -$top-section-image-offset;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-section-content {
	z-index: 1;
	text-align: center;

    .header {
    	color: $brand_blue;
		margin: 68px 0;
		font-family: Bebas-Neue-Light;
		font-size: 5.35em;

		span {
			border-bottom: 2px solid $brand_blue;
		}
    }

    .subtitle {
    	font-family: Proxima-Nova-Thin;
    	font-size: 2em;
	    padding: 0 20px;
    }
}

@media screen and (min-width: 0px) {
	.top-section-content {
	    padding-top: $nav-size-mobile;
        height: $top-section-size-mobile - $nav-size-mobile;
	}

	.top-section-image {
	    height: $top-section-size-mobile + $top-section-image-offset;
	}
}

@media screen and (min-width: 1000px) {
	.top-section-content {
	    padding-top: $nav-size;
        height: $top-section-size - $nav-size;
	}

	.top-section-image {
	    height: $top-section-size + $top-section-image-offset;
	}
}

// content
.main-container {
	background-color: $bg_white;
	min-height: 340px;
	color: black;

	.content {
	    max-width: 68em;
	    margin-left: auto;
	    margin-right: auto;
	    padding: 2em 1em;
	    text-align: center;
	}

    .section-title {
    	padding-bottom: 30px;
    	font-size: 2.2em;
    	font-family: Bebas-Neue-Light;
    }

	.content-container-black {
		background: -webkit-linear-gradient(#353439, #333237); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#353439, #333237); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#353439, #333237); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#353439, #333237); /* Standard syntax */

		color: #e3e3e3;
		width: 100%;
		a {
			color: inherit;
		}
		a:hover {
			color: #ffffff;
		}
	}
}

@media screen and (min-width: 0px) {
	.main-container {
		margin-top: $top-section-size-mobile;
	}
}

@media screen and (min-width: 1000px) {
	.main-container {
		margin-top: $top-section-size;
	}
}


// footer
.footer {
	background-color: #e0e0e0;
	background: -webkit-linear-gradient(#e0e0e0, #e9e9e9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#e0e0e0, #e9e9e9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#e0e0e0, #e9e9e9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#e0e0e0, #e9e9e9); /* Standard syntax */
    text-align: center;
    padding: $big_padding $small_padding;

    .links {
    	font-family: Bebas-Neue-Book;
    	margin-bottom: 16px;
		ul {
			padding-bottom: .4em;
		    li {
		    	font-size: 1.65em;
		    	display: inline-block;
		    	width: 90px;
		    	text-align: center;

		    	a {
		    		text-decoration: inherit;
		    	}
		    }
		}
    }

    .copyright {
    	font-size: 0.8em;
    	color: #5c5c5c;
    	margin-bottom: 20px;
    }

    .social-container {
	    ul {
		    li {
		    	font-size: 25px;
		    	display: inline-block;
		    	width: 40px;
		    	height: 20px;
		    	text-align: center;
		    	border-radius: 7px;

		    	img {
		    		width: 20px;
		    		height: 20px;
		    	}

		    	img:hover {
			    	opacity: .5;
			    }
		    }
		}
    }
}

// blog
.content {
	.medium-embed-container {
	    display: inline-block;
	}
}

// music
.content {
	.soundcloud-embed-container {
	    display: inline-block;
	    width: 100%;
	    max-width: 800px;
	    padding-bottom: 20px;
	}

	.youtube-iframe {
		display: inline-block;
		@media screen and (min-width: 0px) {
			width: 336px;
			height: 200px;
		}

		@media screen and (min-width: 750px) {
			width: 560px;
			height: 315px;
		}
	}
}

// home
.about {
	display: inline-block;
	text-align: left;

	.head-shot-container {
		display: inline-block;
		margin-bottom: $big_padding;

		@media screen and (min-width: 0px) {
			text-align: center;
		}

		@media screen and (min-width: 550px) {
			text-align: left;
		}

		.headshot {
			display: inline-block;
		    position: relative;
		    overflow: hidden;
		    border-radius: 50%;
		    border: 10px solid #ededed;

		    img {
		    	display: inline;
			    margin: 0 auto;
			    height: 100%;
		    	width: auto;
			}

			@media screen and (min-width: 0px) {
	    		width: 200px;
		    	height: 200px;
			}

			@media screen and (min-width: 550px) {
	    		width: 120px;
		    	height: 120px;
			}

			@media screen and (min-width: 775px) {
	    		width: 200px;
		    	height: 200px;
			}
		}
	}
	
	.info {
		font-family: Adobe-Garamond-Pro;
		display: inline-block;
		padding-top: 10px;	
		float: left;
	}
}

.contact {
	text-align: left;
	display: inline-block;
	font-family: Proxima-Nova-Thin;

	.name {
		font-family: Proxima-Nova;
		font-size: 1.2em;
	}

	a {
		text-decoration: inherit;
	}
}

// resume
.resume {
	text-align: left;
	font-family: Adobe-Garamond-Pro;
    vertical-align: text-top;

    .row {
		min-height: 1.5em;
    }

	.section {
		font-family: Bebas-Neue-Bold;
		font-size: 1.35em;
	}

	.item {
		.title {
			color: $brand_red;
		}
		.subtitle {
			font-family: Adobe-Garamond-Pro-Italic;
		}

		p {
			padding-right: 10px;
		}
		
		.technology {
			display: inline-block;
			text-align: right;
			width: 150px;
		}
		.rating-container {
			min-width: 95px;
			.rating {
				width: 15px;
				height: 15px;
			    border-radius: 50%;
			    display: inline-block;
			    margin-left: 4px;
    		    margin-bottom: -3px;
			}

			.rating-1 {
				background-color: $brand_yellow;
			}

			.rating-2 {
				background-color: $brand_yellow;
			}

			.rating-3 {
				background-color: $brand_green;
			}

			.rating-4 {
				background-color: $brand_green;
			}

			.rating-5 {
				background-color: $brand_blue;
			}
		}
	}

	@media screen and (min-width: 0px) {
		.experience-container {
			.row {
				margin-bottom: 0;
			}

			.section {
				margin-bottom: 0;
				line-height: 0;
			}

			.where-when {
				margin-bottom: 1em;
			}

			.item {
				margin-bottom: 1em;
			}

			div:first-of-type {
				.section {
					margin-bottom: 1em;
					line-height: inherit;
				}
			}

			div:nth-child(even) {
				.where-when {
					margin-bottom: 0;
					line-height: 0;
				}
			}
		}

		.skill-ratings-container {
			div:first-of-type {
				.section {
					margin-bottom: .4em;
					line-height: inherit;
					text-align: center;
				}
			}

			.row {
				.item {
					margin-bottom: .4em;
				}
				.section {
					margin-bottom: 0;
					line-height: 0;
				}
			}
		}
	}

	@media screen and (min-width: 550px) {
		.row {
			margin-bottom: 1em;	
		}
		.experience-container {
			.section {
				line-height: inherit;
			}
		}
		.skill-ratings-container {
			.row {
				margin-bottom: 0;	
				.section {
					line-height: inherit;
					margin-bottom: 0;
				}
			}

			div:first-of-type {
				.section {
					margin-bottom: 0;
					line-height: inherit;
					text-align: left;
				}
			}
		}

		.section {
			margin-bottom: 0;
		}

		.item {
			margin-bottom: 0;
		}
	}

	.download-resume {
		font-size: 2em;
	}
}
