<div class="content">
	<div class="resume container">
		<div class="experience-container">
			<div class="row">
				<div class="three columns section">
					Work History
				</div>
				<div class="six columns item">
					<span class="title">
						Co-founder // Chief Technology Officer
					</span><br/>
					<span class="subtitle">
						EatStreet, Inc.
					</span>
				</div>
				<div class="three columns where-when">
					<span class="when">
						2010 - Present
					</span><br/>
					<span class="where">
						Madison, WI
					</span>
				</div>
			</div>
			<div class="row">
				<div class="three columns section">&nbsp;</div>
				<div class="six columns item">
					<p>
						EatStreet is the easiest way to order food online.  As a co-founder, I've worn pretty much every hat throughout EatStreet's growth to nearly twenty-thousand partnered restaurants in hundreds of cities.  Since closing a $15 million series C investment in November 2015, I've been focused on growing out our team of rock star engineers and designers who leverage technology to solve the industry's toughest strategic challenges.
					</p>
				</div>
				<div class="three columns where-when">&nbsp;</div>
			</div>
			<div class="row">
				<div class="three columns section">&nbsp;</div>
				<div class="six columns item">
					<span class="title">
						Software Engineer
					</span><br/>
					<span class="subtitle">
						Facebook, Inc.
					</soan>
				</div>
				<div class="three columns where-when">
					<span class="when">
						2011 - 2014
					</span><br/>
					<span class="where">
						Menlo Park, CA
					</span>
				</div>
			</div>
			<div class="row">
				<div class="three columns section">&nbsp;</div>
				<div class="six columns item">
					<p>
						In my time at Facebook, I worked on many teams, including Brand Pages, Open Graph, internationalization, and Platform SDKs and APIs.  I designed, implemented and maintained both user-facing products and core infrastructure.  In addition, I traveled the country, leading hackathons and other outreach events.
					</p>
				</div>
				<div class="three columns where-when">&nbsp;</div>
			</div>
			<div class="row">
				<div class="three columns section">&nbsp;</div>
				<div class="six columns item">
					<span class="title">
						Software Engineer Intern
					</span><br/>
					<span class="subtitle">
						Thomson-Reuters, Inc.
					</soan>
				</div>
				<div class="three columns where-when">
					<span class="when">
						2009 - 2011
					</span><br/>
					<span class="where">
						Madison, WI
					</span>
				</div>
			</div>
			<div class="row">
				<div class="three columns section">&nbsp;</div>
				<div class="six columns item">
					<p>
						At Thomson-Reuters, I built and maintained workflows for de-duplicating data on WestLaw, a legal search engine.
						Continuing my project into the school year, I added features to detect desynchronization between multiple databases.
					</p>
				</div>
				<div class="three columns where-when">&nbsp;</div>
			</div>
		</div>
		<div class="experience-container">
			<div class="row">
				<div class="three columns section">
					Education
				</div>
				<div class="six columns item">
					<span class="title">
						B.S. Computer Sciences, B.S. Computer Engineering
					</span><br/>
					<span class="subtitle">
						University of Wisconsin - Madison				
					</soan>
				</div>
				<div class="three columns where-when">
					<span class="when">
						2007 - 2011 (on hiatus)
					</span><br/>
					<span class="where">
						Madison, WI
					</span>
				</div>
			</div>
		</div>	
	</div>
</div>
<div id="contact" class="content-container-black">
	<div class="content">
		<div class="section-title">
			Technical Skills
		</div>
		<div class="resume container">
			<div class="skill-ratings-container" ng-repeat="(type, skill_ratings) in skill_ratings_by_type">
				<div ng-repeat="(skill, rating) in skill_ratings" class="row skillset">
					<div class="three columns section">
						{{$first ? type : '&nbsp;'}}
					</div>
					<skill-rating-item skill="{{skill}}" rating="{{rating}}"></skill-rating-item>
				</div>
				<div class="row"></div>
			</div>
		</div>
		<div class="download-resume">
			<a target="_self" href="/static/files/resume.pdf" download="Alex-Wyler-Resume.pdf">Download Resume</a>
		</div>
	</div>
</div>